body {
  background-color: rgba(144, 238, 144, 0.25); /* light green with 25% transparency */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.header {
  background-color: #ffffff; /* light green */
  margin: 0; /* Remove default margin */
  padding: 20px; /* Adjust padding as needed */
}

.title {
  color: #006400; /* dark green */
}

.navbar {
  color: #006400; /* dark green */
  padding: 10px;
}

.navbar a {
  margin: 10px;
  color: #006400; /* dark green */
  text-decoration: none;
}

/* rest of your css */
.footer {
  background-color: #fcfcfc; /* Same as header color */
  padding: 10px;
  color: #006400; /* dark green */
}

.footer a {
  margin: 10px;
  color: #006400; /* dark green */
  text-decoration: none;
}

/* rest of your css */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply styles to all <p> tags */
p {
  font-family: 'Arial', sans-serif;  /* Change the font family */
  font-size: 32px;  /* Change the font size */
  line-height: 1.5;  /* Adjust the line height for better readability */
  color: #333;  /* Set the text color */
  margin-bottom: 15px;  /* Add some bottom margin for spacing between paragraphs */
}

/* Apply specific styles to <p> tags with a class of 'highlight' */
p.highlight {
  background-color: green;  /* Change the background color for highlighted paragraphs */
  font-weight: bold;  /* Make the text bold */
}

